/* please work */

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgoldenrodyellow ;
    color: #0c120c;
}

/* .alegreya-sc-regular {
    font-family: "Alegreya SC", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .alegreya-sc-medium {
    font-family: "Alegreya SC", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .alegreya-sc-bold {
    font-family: "Alegreya SC", serif;
    font-weight: 700;
    font-style: normal;
  } */


  .navbar {
    background-color: #fa7921;
    padding: 10px 20px;
    display: flex;
    justify-content:center;
    align-items: center;

  }

  .nav-list {
    list-style: none;
    display:flex;
    flex-direction: row;
    gap: 20px;
    margin: 0;
    padding:0;

  }


.nav-list li {
    text-align:center
}

.nav-list a:hover {
    color: #f5f9e9;
    transform: scale(1.1);
}


header {
    background-color: #fce74c;
    text-align: left;
    padding: 20px;
    border-bottom: 2px solid #fce74c;
}

header h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin: 0;
    color: #322214;

}

header p {
    margin: 10px 0 0;
    font-size: 1em;
    color: #322214; 
}

.section {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.section img {
    margin: 10px 0;
    width: 90%;
    max-width: 300px;
    border-radius: 8px;
}

.section-title {
    text-align: center;
    font-size : 1.8em;
    margin: 20px 0 10px;
    color: #322214;

}
p {
    display: flex;
    justify-content: center;
    font-size: 230%; 
    color: #322214;
}

h2 {
    font-size: 650%;
    color: #fa7921;
}

.bottom-section {
    display: flex;
flex-direction: column;
/* justify-content: space-between; */
align-items: center;
gap: 20px;
}

.image-link img{
    width: 90%;
    max-width: 300px;
}
.bottom-section img {
    width: 30%;
    max-width: 100px;
    margin: 0 5px;

}
footer {
    text-align: center;
    background-color: #fce74c;
    padding: 15px;
    color:#fa7921;
    
}

footer img {
    /* width: 30px; */
    justify-content: center;
    height: auto;
    width:200px
}

/* /* .footer-logo {
    display: flex;
    justify-content: center; 
     size: 300%; 
    /* width: 50px; 
    height: auto; 
} */

.footer-content {
    display: flex;
    align-items: center;
    gap: 10px
}

.footer p{
    margin: 0;
    font-size: 1em;
    font-weight: bold;
}

footer .social-link{ 
    display: flex;
    align-items: right;
    color: #0077b6;
    font-weight: bold;
    transition: color 0.2s ease;
}

footer .social-link:hover {
    color: #fa7921;

}

/* about page */
.newsletter button {
    padding: 10px 20px;
    font-size: 1em;
    font-weight: bold;
    color: #f5f9e9;
    background-color: #0c120c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease color 0.2s ease;

}

.newsletter button:hoover {
    background-color: #c08552; 
    /* background-color: black; */
    /* color: white; */
}

/* mobile  p.1/2*/

@media (min-width: 768px) {
.section {
flex-direction: row;
flex-wrap: wrap;
justify-content: center; 
 }

.section img {
 margin: 10px;
width: 30%;
max-width: none;
 }

 .section-title {
 font-size: 2em;
 }

.bottom-section img {
 width: 28%;
max-width: none; 
 }
}

.recipe1-container {
 display: flex;
flex-direction: center;
align-items: center;
padding: 20px;
background-color: lightgoldenrodyellow;
}

.recipe1-title {
font-size: 2.5rem;
text-align: center;
color: #fa7921;
/* text-shadow: 2px 2px #f0f0f0; */
}

.recipe-image1 img{
width: 100%;
 max-width: 400px;
    
}

.recipe1-image {
 max-width: 400px; 
margin: 0 auto;   
}

.recipe1-image img {
 width: 100%;
 height: auto; 
    
}


@media (min-width: 768px) {

.recipe1-container {
flex-direction: row;
justify-content: space-between;
 padding: 40px;
 }

.recipe1-header {
 width: 50%;
}

 .recipe1-image {
 width: 50%;
 }

 .recipe1-title {
font-size: 3.5rem;
text-align: left;
}

.recipe1-description {
     font-size: 1.2rem;
}

}

/* media for nav */

@media (max-width: 768px) {
    .navlist {
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
        gap: 10px;
    }
}

.image-link {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 8px;
}

image-link img {
    width: 100%;
    transformation: transform 0.2s ease, opacity 0.2s ease; 

}


.image-link hover img{
    transform: scale(1.1);
    opacity: 0.8;
}

.image-link::after {
    content: attr(title);
    position: absolute;
bottom: 10px;
left: 50%;
transform: translateX(-50%);
background-color:rgba( 0,0,0,0.7);
color:#f5f9e9;
padding: 5px 10px;
border-radius: 5px;
opacity: 0;
transition: opacity 0.2s ease;
font-size: 1em;
pointer-events: none;

}

.image-link:hover::after {
    opacity: 1;
}

.rheader {
    display: flex;
    justify-content: left;
    font-size: 2em;
    font-weight: bold;
}


/* sorry, i know its a little ugly. i made the pages and then went back and dressed them up and added all the fun stuff, and the more i added the uglier it got and i was too scared that i would mess stuff up if I tried to fix it.  */